

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$margin-text: 20px 10px 20px;

.center {
  display: flex;
  justify-content: center;
  align-content: center;
}

// .ada-title {
// 	// $typography-title

// }

.search-title {
  font-size: 50px;
  margin: $margin-text;
}

.container-filter {
  margin: $margin-text;
  display: flex;
}

.search-input-container {
  border-top: none;
}

.input-search {
  background: black;
  border: none;
  font-size: 27px;
  padding: 5px 65px;
  border-radius: 20px;
}

.search-icon {
  position: absolute;
  bottom: -116px;
  left: 33px;
  color: red;
  font-size: 30px;
  border-radius: 20px;
}
.type-search{
  margin: 10px;
}